/*
Theme Name: Jojo 2015
Theme URI: http://www.jojostanfield.com/
Author: Chester Alan
Author URI: https://www.chesteralan.com/
Description: 2015 Theme for Jojo Stanfield Wordpress Site
Version: 1.0
*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -170px;
  /* Pad bottom by footer height */
  padding: 0 0 170px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 120px;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#FFF;
}

#footer a {
  color:#efefef;
}

h1,h2,h3,h4 {
  font-family: 'Open Sans', sans-serif;
  vertical-align:middle;
}

header {
  background: #FFF url(images/header_img.png) top;
  height:180px;
  color:#000000;
}

header h1,header h2,header h3 a,header a,header a:hover {
  color:#101010;
  font-weight:800;
  text-decoration:none;
}

header h3 {
  font-family: 'Open Sans', sans-serif;
  background: #ffcc33;
  padding:10px;
  border-radius:3px;
  font-size:34px;
  padding:12px 10px 6px 10px;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}

header .site-branding {
	position:absolute;
	text-indent:-99999px;
}

h1 {
  font-size:50px;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #005c7e;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #FFF;
	text-transform:uppercase;
	font-weight:700;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #005c7e;
	color:#00baff;
}
.navbar-custom .dropdown-menu{
	right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:100px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {
		height: 180px;
	}
}

#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.bg-1 {
	background: url('http://www.bootply.com/assets/example/bg_4.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url('http://www.bootply.com/assets/example/bg_5.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url('http://www.bootply.com/assets/example/bg_6.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	padding-top:30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}
#more-contact-details {
	color:#FFF;
	padding-top: 15px;
	padding-bottom: 15px;
}

#more-contact-details a { 
	color:#9cdf58;
}
#more-contact-details .phone {
	font-size:20px;
	font-weight: bold;
}
#real-estate-needs {
	background-color:#e8edf0;
	padding:40px 0;
}
#real-estate-needs h2 {
	font-size: 35px;
	color:#0a5d7d;
	margin-bottom:40px;
}
#real-estate-needs .icon-links a {
	height: 150px;
	width: 150px;
	display: block;
	text-indent:-9999px;
	margin:0 20px;
}
#real-estate-needs .icon-links a.find_a_home {
	background: url(images/find_a_home.png);
}
#real-estate-needs .icon-links a.sell_a_home {
	background: url(images/sell_a_home.png);
}
#real-estate-needs .icon-links a.relocate {
	background: url(images/relocate.png);
}
#real-estate-needs .icon-links a.financing_info {
	background: url(images/financing_info.png);
}
#real-estate-needs .icon-links a.find_a_home:hover {
	background: url(images/find_a_home_2.png);
}
#real-estate-needs .icon-links a.sell_a_home:hover {
	background: url(images/sell_a_home_2.png);
}
#real-estate-needs .icon-links a.relocate:hover {
	background: url(images/relocate_2.png);
}
#real-estate-needs .icon-links a.financing_info:hover {
	background: url(images/financing_info_2.png);
}
#footer {
	color:#919191;
}
#footer a {
	color:#919191;
}
#footer a:hover {
	color:#00baff;
	text-decoration:none;
}